:root {
    --color-primary: #1e5afa;
    --color-primary-variant: rgba(0, 0, 240, 0.2);
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-black: #000f37;
    --color-dark: #575757;

    --bottom-section-padding: 12rem;
    --bottom-section-padding-mobile: 8rem;

    --transition: all 400ms ease;

    --container-width: 84%;
    --container-width-tablet: 90%;
    --container-width-mobile: 94%;

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
